In [1]:
%config IPCompleter.greedy=True
import pandas as pd
import matplotlib.pyplot as plt
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
import pandas as pd
import numpy as np

In [10]:
df1 = pd.read_excel(r'C:\Users\lebro\Documents\Python Scripts\Pandas\ExcelSource\MultiIndex.xlsx', header=[0,1])

In [11]:
df1

  Purchase/Sell Time                              Side
  Unnamed: 0_level_1 Quantity Price Unnamed: 3_level_1
0    15:22:11.222000       20    50                  B
1           15:22:15       30    23                  S

In [23]:
df1.columns.values

array([('Purchase/Sell Time', 'Unnamed: 0_level_1'),
       ('Purchase/Sell Time', 'Quantity'),
       ('Purchase/Sell Time', 'Price'), ('Side', 'Unnamed: 3_level_1')],
      dtype=object)

In [16]:
df2 = pd.read_excel(r'C:\Users\lebro\Documents\Python Scripts\Pandas\ExcelSource\MultiIndex_desired.xlsx', header = [1])
df2

  Purchase/Sell Time  Quantity  Price Side
0    15:22:11.222000        20     50    B
1           15:22:15        30     23    S

In [18]:
df1.reset_index()

  index Purchase/Sell Time                              Side
        Unnamed: 0_level_1 Quantity Price Unnamed: 3_level_1
0     0    15:22:11.222000       20    50                  B
1     1           15:22:15       30    23                  S

In [22]:
df3 = pd.read_csv(r'C:\Users\lebro\Documents\Python Scripts\Pandas\ExcelSource\MultiIndex.csv', header = [0, 1])
df3

  Purchase/Sell Time Unnamed: 1_level_0 Unnamed: 2_level_0               Side
  Unnamed: 0_level_1           Quantity              Price Unnamed: 3_level_1
0         3:22:11 PM                 20                 50                  B
1         3:22:15 PM                 30                 23                  S

In [51]:
def rename_unnamed(df):
    for i, columns in enumerate(df.columns.levels):
        columns_new = columns.tolist()
        for j, row in enumerate(columns_new):
            if "Unnamed: " in row:
                columns_new[j] = ""
        if pd.__version__ < "0.21.0":  
            df.columns.set_levels(columns_new, level=i, inplace=True)
        else:
            df = df.rename(columns=dict(zip(columns.tolist(), columns_new)),
                           level=i)
    return df
dfc = rename_unnamed(df3)

In [52]:

dfc.columns = dfc.columns.map(''.join)
dfc

  Purchase/Sell Time  Quantity  Price Side
0         3:22:11 PM        20     50    B
1         3:22:15 PM        30     23    S

In [54]:
df1 = pd.read_excel(r'C:\Users\lebro\Documents\Python Scripts\Pandas\ExcelSource\MultiIndex.xlsx', header=[0,1])
cv = df1.columns.values
cv
l1 = [ele[0] for ele in cv]
l2 = [ele[1] for ele in cv]
res = []
for i, value in enumerate(l2):
    if 'Unnamed' in value:
        res.append(l1[i])
    else:
        res.append(value)
df1.columns = res
res

array([('Purchase/Sell Time', 'Unnamed: 0_level_1'),
       ('Purchase/Sell Time', 'Quantity'),
       ('Purchase/Sell Time', 'Price'), ('Side', 'Unnamed: 3_level_1')],
      dtype=object)

['Purchase/Sell Time', 'Quantity', 'Price', 'Side']

In [54]:
df1 = pd.read_excel(r'C:\Users\lebro\Documents\Python Scripts\Pandas\ExcelSource\MultiIndex.xlsx', header=[0,1])
cv = df1.columns.values

l1 = [ele[0] for ele in cv]
l2 = [ele[1] for ele in cv]
res = []
for i, value in enumerate(l2):
    if 'Unnamed' in value:
        res.append(l1[i])
    else:
        res.append(value)
df1.columns = res
res

array([('Purchase/Sell Time', 'Unnamed: 0_level_1'),
       ('Purchase/Sell Time', 'Quantity'),
       ('Purchase/Sell Time', 'Price'), ('Side', 'Unnamed: 3_level_1')],
      dtype=object)

['Purchase/Sell Time', 'Quantity', 'Price', 'Side']

In [54]:
df1 = pd.read_excel(r'C:\Users\lebro\Documents\Python Scripts\Pandas\ExcelSource\MultiIndex.xlsx', header=[0,1])
cv = df1.columns.values

l1 = [ele[0] for ele in cv]
l2 = [ele[1] for ele in cv]
res = []
for i, value in enumerate(l2):
    if 'Unnamed' in value:
        res.append(l1[i])
    else:
        res.append(value)
df1.columns = res
res

array([('Purchase/Sell Time', 'Unnamed: 0_level_1'),
       ('Purchase/Sell Time', 'Quantity'),
       ('Purchase/Sell Time', 'Price'), ('Side', 'Unnamed: 3_level_1')],
      dtype=object)

['Purchase/Sell Time', 'Quantity', 'Price', 'Side']

In [61]:
df1 = pd.read_excel(r'C:\Users\lebro\Documents\Python Scripts\Pandas\ExcelSource\MultiIndex.xlsx', header=[0,1])
cv = df1.columns.values

df1.columns = [l1[i] if 'Unnamed' in value else value for i,value in enumerate(l2)]

df1

  Purchase/Sell Time  Quantity  Price Side
0    15:22:11.222000        20     50    B
1           15:22:15        30     23    S

In [58]:
[l1[i] if 'Unnamed' in value else value for i,value in enumerate(l2)]

['Purchase/Sell Time', 'Quantity', 'Price', 'Side']

In [55]:
df1.columns = res
df1

  Purchase/Sell Time  Quantity  Price Side
0    15:22:11.222000        20     50    B
1           15:22:15        30     23    S

In [31]:
for i, columns in enumerate(df1.columns.levels):
    if i == 0:
        columns_new = columns.tolist()
columns_new

['Purchase/Sell Time', 'Side']

In [ ]:
def rename_unnamed(df):
    for i, columns in enumerate(df.columns.levels):
        columns_new = columns.tolist()
        for j, row in enumerate(columns_new):
            if "Unnamed: " in row:
                columns_new[j] = ""
        df = df.rename(columns=dict(zip(columns.tolist(), columns_new)),
                           level=i)
    return df
rename_unnamed(df1)